# Gradle
.gradle/
build/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ / IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local libs
libs/*.jar
